name: Deployment pipeline

on:
  push:
    branches:
      - main

jobs:
  simple_deployment_pipline:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install dependencies
        run: npm install
      - name: Check style
        run: npm run lint:fix
      - name: Build
        run: npm run build
      - name: Test
        run: npm test
      - name: e2e tests
        run: npm run test:e2e
    